.statementmobile{
    display:none;
}
.aboutContainer{
    height: 37rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(194, 197, 170, 1);
}
.aboutContainer div{
    margin: 10%;
    width: 60%;
}
.aboutContainer div .title{
    font-family: 'Libre Baskerville', serif;
}
.aboutContainer .cause{
    text-align: right;
}
.aboutContainer .statementweb{
    font-family: 'Montserrat', serif;
    font-weight: 500;
    text-align: center;
}
@media (max-width: 768px) {
    .aboutContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .webcontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .statementmobile{
        font-family: 'Montserrat', serif;
        font-weight: 500;
        text-align: center;
        display: block;
    }
    .statementweb{
        display: none;
    }
}