.campsContainer{
    margin:0;
    padding:0;
    height: 38rem;
    display: flex;
    flex-direction: column;
    background-color: #fefae0;
}
.campsContainer .title{
    padding: 3.5rem 0rem 0rem 10rem;
}
.campsContainer .campsHeader .plain{
    font-family: 'Montserrat', serif;
    font-size: 60px;
}
.campsContainer .campsHeader .hide{
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
}
.campsContainer .cohort-header{
    font-family: 'Montserrat', serif;
    font-size: 20px;
    padding: 0rem 0rem 0rem 10rem;
    font-weight: 250;
}
.campsContainer .campCards{
    display: flex;
    flex-direction: row;
    align-items: left; 
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}
.campsContainer .campCards .card{
    width: 30%;
    height: 14rem;
    background: #6c584c;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.campsContainer .campCards .card .card-title{
    font-family: 'Montserrat', serif;
    margin-left: 5%;
}
.campsContainer .campCards .card .desc{
    font-family: 'Raleway', serif;
    margin: 5%;
    color: #f0ead2;
    font-weight: 800;
}
.campsContainer .campInfo{
    padding-top: 10rem;
    padding-left: 10rem;
}